.main-sliders {
  margin-top: 77px;
  margin-bottom: 90px;
}

.slider-block {
  position: relative;
  background-color: #EEE4DB;
  display: flex;
  padding: 90px 133px 89px 133px;
}

.slider-control-number {
  font-family: 'Montserrat' , sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  margin: 0 0 10px 0;
}

.sliders-buttons-list {
  padding: 0 3px;
  margin:0;
  width: 31px;
  display: flex;
  flex-direction: column;
}

.slider-control {
  position: absolute;
  top:17px;
  left:28px;
}

.slider-button-item {
  width: 100%;
  height: 3px;
  margin-bottom: 11px;
  position: relative;
}

.slider-button{
  box-sizing: border-box;
  background-color: #D6CAC2;
  border: 0;
  width: 31px;
  height: 3px;
  position: absolute;
}

.slider-button:hover , .slider-button:focus{
  background-color: #725F5B;
}

.slider-image {
  position: absolute;
  right:100px;
  bottom:0;
}

.slider-button__one {
  background-color: rgba(30, 6, 6, 0.6);
}

.slider-desc {
  width: 307px;
}

.slider-title {
  margin: 0 0 20px 0;
  font-family: 'Montserrat' , sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
}

.slider-text {
  font-family: 'Crimson Text' , serif;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
  margin:20px 0;
}

.slider-1 {
  display: flex;
}

.slider-link {
  display: inline-block;
}

.slider-discount-text {
  font-family: 'Open Sans' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #C29974;
  text-align: center;
  padding: 11px 10px;
  margin: 0;
  text-transform: uppercase;
}

/* products*/

.product-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  margin: 0;
  font-family: 'Montserrat' , sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 0 0 40px rgba(147, 3, 3, 0.25);
}

.product-link {
  color: #FFFFFF;
}

.product-link:hover > .product-title, .product-link:focus > .product-title {
  cursor: pointer;
  text-decoration: underline;
}

.product-link:active .product-title{
  cursor: none;
  text-decoration: underline;
}

.product-link:active {
  cursor: none;
}

.products {
  margin-top: 90px;
}

.products-title {
  margin: 20px 0;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px -10px;
}

.product-item {
  position: relative;
  padding: 0 10px;
  margin: 10px 0;
  width: 280px;
  height: 270px;  
}

.desception {
  display: flex;
  align-items: center; 
  margin:21px 0 22px 0;   
}

.desception-button {
  background: transparent;
  border: 0;
  padding: 0;
  margin-right: 6px;
}

.desception-text {
  margin: 0 0 0 15px;
  width: 580px;
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
  line-height: 22px;
}

/*delivery*/

.delivery {
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;  
}

.delivery-image {
  margin-right: 60px;
  background-color: #E1E1E1;
}

.delivery-text-block {
  padding-left: 60px;
}

.delivery-title {
  margin: 31px 0 9px 0;
}

.delivery-list {
  padding:0;
  margin:9px 0 19px 0; 
}

.delivery-button{
  width:326px;
  margin-left:-60px;
  padding: 11px 0 11px 60px;
  text-align: start;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Crimson Text' , serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  border: 0;
}

.delivery-button:hover , .delivery-button:active , .delivery-button:focus{
  background-color: #E1F0F7;
}


.delivery-button__default {
  background-color: #E1F0F7;
}

.delivery-text {
  width: 480px;
  margin-bottom: 15px;
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.delivery-link {
  margin-top: 10px;
  display: inline-block;
}


/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 112px;
  padding: 0;
}

.partner-link {
  transition: 0.3;
}

.partner-link:hover, .partner-link:focus {
  opacity: 0.7;
}

.partner-link:active {
  opacity: 0.5;
}


/*dlk*/

.dlk-contact {  
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 60px;
  margin-bottom: 87px;
  padding-right: calc(100% / 24 - 40px);  
  box-sizing: border-box;
}

.dlk-about { 
  width: 50%;
  padding: 0 30px 35px 30px;
  margin-right: 30px;  
  background-color: #E1F0F7;
  position: relative;
  box-sizing: border-box;
}

.dlk-title {
  margin-top: -24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.dlk-subtitle {
  margin: 12px 0 10px 0; 
  font-family: 'Crimson Text' , serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
}

.dlk-about-text {
  margin-top: 9px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.dlk-about-link {
  display: inline-block;
}

.contacts-map {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  background-color: #E1F0F7;
  padding: 0 30px 80px 30px;
  margin-left: 30px; 
}

.contacts-title {
  margin-top: -24px;
  margin-bottom: 20px;
}

.contacts-map-text {
  margin: 20px 0 20px 0;
  font-size: 16px;
  line-height: 22px;
}

.contatcs-map-image {
  position: absolute;
  top:calc(100% - 80px);
  background-color: #E1E1E1;
}