.header {
  padding: 50px 0;
  display: flex;

  &__nav {
    display: flex;
    justify-content: space-between; 
    width: 100%;
  }

  &__nav-list {
    display: flex;
    margin-left: 60px;
    padding-left: 0;    
  }

  &__nav-item {
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin-right: 20px;  
  }

  &__contact-list {
    display: flex;
    justify-content: space-between;  
  }

  &__contact-link{
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }

  &__search-link {
    margin-right: 24px; 
  }

  &__logo-link, &__nav-link, &__search-link, &__contact-link{  
    transition: 0.4s;
    
  }

  &__logo-link:hover, &__logo-link:focus, &__nav-link:hover, &__nav-link:focus, &__contact-link:hover, &__contact-link:focus,  &__search-link:hover, &__search-link:focus {
    opacity: 0.5;
  }

  &__logo-link:active, &__nav-link:active, &__contact-link:active, &__search-link:active {
    opacity: 0.3;
  }
}
















