<div class="container">
  <header class="header">
    <a class="header__logo-link" href="/index.html">
      <img class="header__logo-image" width="100" height="52" src="/static/images/logo.svg" alt="logo">
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list list-hidden-marker">
        <li class="header__nav-item">
          <a class="header__nav-link" href="/pages/blog/index.html">BLOG</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="/pages/catalog/index.html">CATALOG</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#">ABOUT US</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="/pages/animation/index.html">ANIMATION</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="/pages/svg/index.html">SVG</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="/pages/grid/index.html">GRID</a>
        </li>
        <li class="header__nav-item  header__nav-item_opacity">
          <a class="header__nav-link_opacity" href="/pages/contact-us/index.html">MAIN</a>
        </li>
      </ul>
      <ul class="header__contact-list list-hidden-marker">
        <li class="header__contact-item">
          <a class="header__search-link" href="#"><img class="header__search-image" width="18" height="18" src="/static/images/search.svg" alt="search"></a>
        </li>
        <li class="header__contact-item header__contact-item_opacity">
          <a class="header__contact-link" href="/pages/contact-us/index.html">CONTACT US</a>
        </li>
      </ul> 
    </nav>
    
    <div class="compact-header">
      <nav class="compact-header__nav">
        <ul class="compact-header__nav-list list-hidden-marker">
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="/pages/blog/index.html">BLOG</a>
          </li>
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="/pages/catalog/index.html">CATALOG</a>
          </li>
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="#">ABOUT US</a>
          </li>
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="/pages/animation/index.html">ANIMATION</a>
          </li>
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="/pages/svg/index.html">SVG</a>
          </li>
          <li class="compact-header__nav-item">
            <a class="compact-header__nav-link" href="/pages/grid/index.html">GRID</a>
          </li>
          <li class="compact-header__nav-item  header__nav-item_opacity">
            <a class="compact-header__contact-link" href="/pages/contact-us/index.html">CONTACT US</a>
          </li>
        </ul>
      </nav>      
    </div>
    <!-- <audio autoplay loop src="/static/images/ＤＡＲＫ ＰＬＡＣＥ.mp3"></audio> -->
  </header>
</div>

