.contact-us-form {
  max-width: 680px;
  margin-right: 60px;
  padding: 42px 40px;
  background-color: #E5EAF8;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.form-wrapper600 {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
}

.form-wrapper290 {
  display: flex;
  flex-direction: column;
  width: 290px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label-input {
  margin-bottom: 6px;
  font-family: 'Roboto' , sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.form-input {
  padding: 14px 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.form-checkbox-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-checkbox-indicator {
  margin-left: -14px;
  padding-left:35px;
  position: relative;
}

.form-checkbox-indicator:hover, .input-form-checkbox:focus + .form-checkbox-indicator{
  text-decoration: underline;
  cursor: pointer;
}

.form-checkbox-indicator::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border: 2px solid #C29974;
  box-sizing: border-box;
  border-radius: 3px;
}

.input-form-checkbox:checked + .form-checkbox-indicator::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(/static/images/checkbox.svg);  
}

.form-input__name::placeholder {
  content: "";
  font-family: 'Roboto' , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #1E0606;
}

.contact-us-block-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 60px;
}

.contact-us-text-block {
  max-width: 380px;
  width: 100%;
}

.contact-us-text {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 22px;
}

.contact-us-bigtext {
  font-family: 'Montserrat' , sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #C29974;
  text-transform: uppercase;
}