// Подключение компонентов
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "./header/header";
@import "./footer/footer";
@import "./popap/popap";



body {
  font-family: 'Open Sans' , sans-serif;
  font-weight: normal;
  margin: 0;
  color: #1E0606;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #1E0606;
}


.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.list-hidden-marker {
  list-style-type: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}


.fieldset-border-none {
  border: none;
  width: fit-content;
  padding: 0;
}

.title-block {
  margin-top: 7px;
}

.main-title {
  font-family: 'Montserrat' , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
}

.title-2 {
  font-family: 'Montserrat' , sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;  
  text-transform: uppercase;
}

.breadcrumbs-list {
  padding: 0;
  display: flex;
  margin-top: 17px;
}

.breadcrumbs-item {
  margin-right: 20px;
  font-family: 'Crimson Text' , serif;
  font-style: italic;
  font-size: 20px;
  line-height: 25px;
}

.breadcrumbs-page { 
  opacity: 0.5;
}

.breadcrumbs-link {
  transition: 0.3s;
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  opacity: 0.8;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}