<footer class="footer">
  <div class="footer-wrapper container">
    <div class="footer-block-content">
      <div class="footer-section-content">
        <p class="footer-title bottom-line grey-text">Navigation</p>
        <nav class="footer-navigation">
            <ul class="footer-navigation-list list-hidden-marker">
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">About Us</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="/pages/blog/index.html">Blog</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Design Services</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Featured On</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">2018 Holiday Catalog</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Shop By Designer</a></li>            
            </ul>
        </nav>            
      </div>
      <div class="footer-section-content">
        <p class="footer-title bottom-line grey-text">Customer Information</p>
        <nav class="footer-navigation">
            <ul class="footer-navigation-list list-hidden-marker">
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="/pages/contact-us/index.html">Contact Us</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Sale Exclusions</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Shipping & Returns</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Terms & Conditions</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Privacy Policy</a></li>
              <li class="footer-navigation-item"><a class="footer-navigation-link" href="#">Search</a></li>            
            </ul>
        </nav>            
      </div>
      <div class="footer-section-content">
        <p class="footer-title bottom-line grey-text">Connect</p>
        <form class="footer-form">
          <input class="footer-input" type="email" placeholder="Email"> 
          <button class="button footer-button" type="submit" value="join">JOIN</button>              
        </form>
        <ul class="footer-socials-list list-hidden-marker">
          <li class="footer-socials-item"><a class="footer-socials-link footer-socials-link__facebook" href="#"><span class="hidden">Facebook</span></a></li>
          <li class="footer-socials-item"><a class="footer-socials-link footer-socials-link__twitter" href="#"><span class="hidden">Twitter</span></a></li>
          <li class="footer-socials-item"><a class="footer-socials-link footer-socials-link__pinterest" href="#"><span class="hidden">Pinteres</span></a></li>
          <li class="footer-socials-item"><a class="footer-socials-link footer-socials-link__instagram" href="#"><span class="hidden">Instagramm</span></a></li>
        </ul>            
      </div> 
    </div>
    <div class="footer-block-information top-line">
      <div class="footer-section-information yellow-stars">
        <p class= "star-text">Company Rating</p>
        <ul class="list-hidden-marker stars-list">
          <li class="star-item"><button class="button-star" type="button"><img class="image-star" src="/static/images/star.svg" alt="star"></button></li>
          <li class="star-item"><button class="button-star" type="button"><img class="image-star" src="/static/images/star.svg" alt="star"></button></li>
          <li class="star-item"><button class="button-star" type="button"><img class="image-star" src="/static/images/star.svg" alt="star"></button></li>
          <li class="star-item"><button class="button-star" type="button"><img class="image-star" src="/static/images/star.svg" alt="star"></button></li> 
          <li class="star-item"><button class="button-star" type="button"><img class="image-star" src="/static/images/star.svg" alt="star"></button></li> 
        </ul>
      </div>
      <p class="footer-section-information Copyright-info">Copyright © 2018 Dlk • Design Life Kids</p>
      <a class="footer-section-information dl-info grey-text" href="#">Web Design — Direct Line Development</a>
    </div> 
  </div>
</footer> 
